body {
    padding: 1%;
}

form {
    padding: 1%;
}

.input {
    text-align: center;
    display: block;
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 1%;
}

button {
    display: block;
    margin: 0 auto;
}

h5 {
    margin-top: 3%;
    text-align: center;
}